html,
body {
  height: 100%;
}

body {
  /* display: flex;
  align-items: center; */
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(239 242 244);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 12px;
}
.blockUI h1 {
  font-size: 1.5rem;
}
.message {
  position: fixed;
  bottom: 0;
  width: inherit;
  color: white;
  text-align: center;
  margin-bottom: 70px;
}
.messageKS {
  position: fixed;
  bottom: 0;
  width: inherit;
  color: white;
  text-align: center;
  margin-bottom: 70px;
}
.user-avatar {
  width: 30px;
  float: left;
  margin-top: 5px;
}
.text {
  margin-left: 45px;
}
.container-user {
  padding: 10px;
  clear: both;
  background-color: rgba(52, 53, 65, 1);
  color: rgba(236, 236, 241, 1);
}

.container-chatgpt {
  padding: 10px;
  clear: both;
  background-color: rgba(68, 70, 84, 1);
  color: rgba(236, 236, 241, 1);
}
.container-chatgpt-video {
  padding: 10px;
  clear: both;
  color: rgba(236, 236, 241, 1);
}
.color-white {
  color: rgba(236, 236, 241, 1);
}

/* .btn-primary,
.btn-primary:hover {
  background-color: rgba(68, 70, 84, 1) !important;
  border-color: rgba(236, 236, 241, 1);
} */

.btn-primary {
  background-color: rgb(18 151 228/1) !important;
}
textarea {
  background-color: transparent !important;
  color: black !important;
}

textarea::placeholder {
  color: black !important;
}

textarea:focus {
  /* outline: none !important; */
}
.form-control:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(236, 236, 241, 0.05);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-button {
  /* 2 */
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #888b9c;
}
::-webkit-scrollbar-track-piece {
  /* 4 */
}
::-webkit-scrollbar-thumb {
  background: silver;
  width: 2px;
  /* border: 2px solid rgba(68, 70, 84, 1); */
  border: 2px solid silver;
}
::-webkit-scrollbar-corner {
  /* 6 */
}
::-webkit-resizer {
  /* 7 */
}
.text-pointer {
  cursor: pointer;
}

a {
  color: rgba(52, 53, 65, 1) !important;
  font-weight: 500 !important;
}

#landing_page {
  /* padding-top: 40px; */
}

.bgcolor-change:hover {
  background-color: rgb(18 151 228/0.5);
}

.innostrat_class {
  margin-top: 90%;
  border: 3px solid rgb(216, 253, 245);
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(56, 223, 195);
}

.box-min-height {
  min-height: 230px;
}
.card-title-box {
  padding-top: 80px;
  text-align: center;
}
.img-avatar {
  padding: 20px;
  cursor: pointer;
}
#talk-video {
  border-radius: 50%;
}

i.fa.fa-arrow-right.bgcolor-change {
  cursor: pointer;
}
